table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #d3d3d3;
}

thead {
  background-color: #cfe6e8;
  height: 40px;
}

td {
  padding: 10px 20px;
}

.url {
  color: #408a71;
}

input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.remove-btn:hover,
.edit-btn:hover {
  color: #067f89;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
